/*
Author: Kaiser
Date last edited: 11/29/2021
*/

body {
    height: 97%;
    width: 98%;
    font-family: 'Quicksand', sans-serif;
    background-image: url("forestjeep.jpg");
    background-size: cover;
    color: black;  
    font-weight: bold;
    min-width: 600px;
  }
/* Controls the words on the website */
section {
  display: block;
  border-width: 5px;
  border-color: black;
  background-color: rgba(0, 0, 255, 0.493);
  border-style: solid; 
  width: 100%;
  float: left;
}
section h1 img {
  width: 95%;
}
/* Controls the main header */
section h1 {
  margin: 0px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  text-align: center;
  padding: 10px;
} 
input[type=submit], input[type=reset] {  
    margin: 5px;
    background: linear-gradient(to right, brown, #ffad06);
    border: 0;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
  }
a {
    color: red;
  }
select {
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    display:block;
    margin-left: 5px;
  }
#form_div {
    display: inline;
    float: left;
    width: 47%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    border-width: 5px;
    border-color: black;
    background-color: rgba(0, 0, 255, 0.493);
    border-style: solid; 
  }
#form_div select, #form_div label {
    display: inline;
    margin: 5px;  
}
#form_div input[type=submit] {
    clear: left;
    float: right;
    display: block;
}
#display_form_div {
  display: block;
  float: right;
  width: 46%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  border-width: 5px;
  border-color: black;
  background-color: rgba(0, 0, 255, 0.493);
  border-style: solid; 
}
#display_form_div img{
  display: block;
  width: 35%;
  float: left;
}
#display_form_div img:first-of-type {
  width: 28%;
}
#display_form_div p {
  display: block;
  width: 32%;
  float: left;
  margin-top: 8%;
  font-size: 5em;
  text-align: center;
}