/*
Author: Kaiser
Date last edited: 11/1/2021
*/

/* Sets defaults */
body {
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  background-image: url("forestjeep.jpg");
  background-size: cover;
  color: black;  
  font-weight: bold;
}
/* Controls the words on the website */
section {
  float: center;
  display: block;
  margin: 5%;
  border-width: 5px;
  border-color: black;
  background-color: rgba(0, 0, 255, 0.493);
  border-style: solid; 
}
section img {
  width: 95%;
}
/* Controls the main header */
section h1 {
  margin: 0px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  text-align: center;
  padding: 10px;
}
input[type=text]{  
  display: block;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  border: 0px;
  margin: 5px;
}
input[type=submit], input[type=reset] {  
  margin: 5px;
  background: linear-gradient(to right, brown, #ffad06);
  border: 0;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}
p {
  margin: 5px;
}
h2 {
  margin-left: 10px;
}
a {
  color: red;
}
#controls, #codeview {
  background-color: green;
  width: 100%;
  border-bottom-width: 5px;
  border-top-width: 5px;
  border-bottom-style: solid;
  border-top-style: solid;
}
#button {
  clear: left;
  float: left;
  width: 100%;
}
